bench/hash_tables/libcuckoo/build
bench/results/
bench/workloads/
build/
cmake-build-debug/
cmake-build-release/
cond-out*
masstree/autom4te.cache*
masstree/config.*
masstree/configure
masstree/GNUmakefile
scripts/experiment_config.sh
scripts/e2e_perf/results
scripts/iochar/fio_config.sh

.idea/
.vscode/

.DS_Store
*.swp

*.pyc
__pycache__
